*{
   margin: 0; 
   padding: 0;
}

body{
    background: url('../img/fundobranco') no-repeat;
    background-size: cover;
}

.container {
    background: #fff;
    margin: auto;
    max-width: 1000px;
    text-align: center;
    border: 3px solid;
    border-radius: 48px;
    padding: 40px;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container h1 {
    padding: 10px;
    color: rgb(43, 2, 2);
    text-align: center;
    font-size: 40px;
    background-color: rgb(125, 96, 165);
    max-width: 1000px;
  
}
.links a {
        padding: 18px;
        display: block;
        text-decoration:none;
        font-size: 22px;
        color:rgb(11, 11, 42);
    }


    .links a:hover{
        text-decoration: underline;
        color: rgb(31, 1, 31);
        border: black
    
        

        

    }
    .sobre-mim {
        color: aliceblue;

    }
    #Meus interesses {
        color: aliceblue
    }