body {
background: rgb(182, 178, 178);

}
.container {
    background: #fff;
    margin: 0px auto;
    max-width: 1000px;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container h1 {
    padding: 10px;
    color: rgb(43, 2, 2);
    text-align: center;
    font-size: 40px;
    background-color: rgb(125, 96, 165);
  
}
.links a {
        padding: 10px;
        display: block;
        text-decoration:none;
        font-size: 22px;
        color:rgb(11, 11, 42);
    }


    .links a:hover{
        text-decoration: underline;
        color: rgb(31, 1, 31);
        text-align:center

        

    }